<div class="div-book" id="{{id}}">
    <div class="div-info">
        <p>Titulo do livro: {{title}}</p>
        <p>Quantidade de pagina: {{pagesqty}}</p>
        <a href="/books/{{id}}">Ver detalhes</a>
    </div>
    <div class="div-edit">
       <a href="/books/edit/{{id}}">Edit</a>
       <a href="/books/remove/{{id}}">Remove</a>
    </div>
</div>