<div class="div-produto">
    <h2>{{name}}</h2>
    <p>R$: {{price}}</p>
    <p>{{description}}</p>
    <nav class="nav-produto">
        <a href="/produtos/delete/{{_id}}">Delete</a>
        <a href="/produtos/edit/{{_id}}">Editar</a>
    </nav>
</div>